<!DOCTYPE html>
<html>
	<head>
        <title>{% block title %}Sign In{% endblock %}</title>
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class =flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if g.user %}
            <div class = "logout">
                Logged in as {{g.user.username}}, <a href="{{ url_for('logout_controller') }}">Logout</a>
            </div>
        {% endif %}
		{% block body %}
		{% endblock %}
	</body>
</html>
